{% extends "site_base.html" %}
{% load humanize static %}
{% load url from future %}
{% load pluralize_pl %}
{% load honeypot %}
{% load strata_tags %}

{% block full_title %}Strata Kazika{% endblock %}


{% block description %}
{% if linked %}

Powiększam Stratę Kazika, kopiując płytę „{{ linked.name }}”. Dorzuć się i Ty!

{% else %}

Uznaliśmy, że to najprostszy sposób, żeby kogoś ograbić na dużą kasę.
Wystarczy, że będziemy w kółko kopiować muzykę (w tym przypadku płytę
„Hurra” Kultu – {{ the_counter.price }}&nbsp;zł za sztukę w sklepie SP Records),
a strata Kazika szybko osiągnie takie rozmiary, że po podziale
łupu wszyscy zostaniemy bogaczami.

{% endif %}
{% endblock %}


{% block leftcolumn %}

<h1>Strata Kazika</h1>

<p id="the_counter">wynosi obecnie:
<span id="the_money">{{ sum_counter.money|money }}</span>
<span id="the_count">({{ sum_counter.count|intcomma }} {{ sum_counter.count|pluralize_pl:"kopia,kopii,kopie" }})</span>
</p>




    <div id="search-area">
    <h2>Dołóż się do straty!</h2>
    <p>Wykonaj kopię płyty, którą akurat masz pod ręką i dolicz ją
    do strat artystów – a na koniec podziel się tą wiadomością ze znajomymi.</p>
    <form class="search increase" method='post' action="{% url 'strata_increase' %}">
        {% csrf_token %}
        {% render_honeypot_field %}
        <input id="search" type="text" placeholder="Wykonawca – Płyta (dowolna)" name="counter_name" />
        <button>Dolicz stratę</button>
    </form>
    </div>

    <div id="last-incs">
    <h2>Ostatnio doliczone</h2>
    <ul class="blinken">
    {% for inc in last_incs %}
        <li>{% counterinc_item inc %}</li>
    {% endfor %}
    </ul>
    </div>

    <div id="popular-counters">
    <h2>Najwyższe straty</h2>
    <ul class="blinken">
    {% for counter in popular_counters %}
        <li>{% counter_item counter %}</li>
    {% endfor %}
    </ul>
    </div>
{% endblock %}

{% block rightcolumn %}
<h2>O co chodzi?</h2>
<p><strong>Pamiętaj, kopiowanie to kradzież!</strong></p>
<p>Za każdym razem, kiedy kopiujesz płytę swojego ulubionego artysty,
pozbawiasz go części należnego mu dochodu. Wielkość tej straty można
łatwo określić, mnożąc liczbę wykonanych kopii przez cenę detaliczną płyty.
Nasz sprytny plan polega na <strong>automatycznym robieniu kolejnych kopii</strong> albumu „Hurra”.
<img id="taping" src="/static/strata/taping.png" alt="Logo kampanii „Home taping is killing music and it's illegal”">
Kiedy kończy nam się miejsce na dysku,
po prostu usuwamy stare kopie, by zrobić miejsce na następne.</p>

<p>Uznaliśmy, że to najprostszy sposób, żeby kogoś ograbić na dużą kasę.
Wystarczy, że będziemy w kółko kopiować muzykę (w tym przypadku płytę
„Hurra” Kultu – {{ the_counter.price }}&nbsp;zł za sztukę w sklepie SP Records),
a <strong>strata Kazika</strong> szybko osiągnie takie rozmiary, że po podziale
łupu wszyscy zostaniemy bogaczami. Nie wiemy, niestety, co się stanie ze światem
w <em>momencie Kazika</em> – chwili, kiedy Strata Kazika przekroczy PKB Ziemi.</p>

<p>Na wypadek, gdyby ktoś pytał: wykonanych przez nas kopii nie udostępniamy
w internecie, bo za bardzo boimy się wizyty policji. Jesteśmy pazerni, ale nie odważni.</p>

<p><strong>Możesz nam pomóc!</strong> Wystarczy, że doliczysz swoją kopię dowolnej płyty
do generowanych przez nas strat – nikt też nie powiedział, że musimy być
zawzięci tylko na Kazika. Cenę jednej płyty domyślnie szacujemy na {{ DEFAULT_PRICE }}&nbsp;zł.
Zdajemy sobie sprawę, że płyty czasem bywają droższe – w takim przypadku strata
ponoszona przez artystów będzie oczywiście również odpowiednio większa, niż by
na to wskazywały nasze szacunki.</p>

{% endblock %}


{% block bodyextra %}
<div id="share-stub" style="display:none">
    <a class="close">x</a>
    <p>Dzięki!<br>
    Pochwal się znajomym:<br></p>
    <a class="diaspora" target="_blank" rel="nofollow"><img alt="Pochwal się na Diasporze" src="{% static 'social/diaspora.png' %}"></a>
    <a class="twitter" target="_blank" rel="nofollow"><img alt="Pochwal się na Twitterze" src="{% static 'social/twitter.png' %}"></a>
    <a class="blip" target="_blank" rel="nofollow"><img alt="Pochwal się na Blipie" src="{% static 'social/blip.png' %}"></a>
    <a class="facebook" target="_blank" rel="nofollow"><img alt="Pochwal się na Facebooku" src="{% static 'social/facebook.png' %}"></a>
    <a class="google" target="_blank" rel="nofollow"><img alt="Pochwal się na Google Plus" src="{% static 'social/google.png' %}"></a>
    <a class="nk" target="_blank" rel="nofollow"><img alt="Pochwal się na NK" src="{% static 'social/nk.png' %}"></a>
</div>
{% endblock %}
